extends layout

block content
  h1= title
  - let ticketid = toShow._id
  - let eventName = toShow.eventName
  - let venue = toShow.venue
  - let ticketPrice = toShow.price
  - let location = toShow.location
  - let ticketType = toShow.ticketType

  div.row(class='mb-2')
    div.mr-1 ID is #{ticketid}

  - let actionid = "/resource/tickets/" + ticketid
    form(id='TicketsForm', action=actionid, method="PUT", style='max-width: 400px; margin: 0 auto; padding: 20px;background-color: yellow')
        div.form-group
            label(for='ticketName', style='display: block; margin-bottom: 8px;') Event Name
            input#ticketName(type='text', name='ticketName', value=eventName, style='width: 100%; padding: 8px;')
        div.form-group
            label(for='venue', style='display: block; margin-bottom: 8px;') Venue
            input#venue(type='text', name='venue', value=venue, style='width: 100%; padding: 8px;')
        div.form-group
            label(for='ticketPrice', style='display: block; margin-bottom: 8px;') Ticket Price
            input#ticketPrice(type='number', name='ticketPrice', value=ticketPrice, style='width: 100%; padding: 8px;')
        div.form-group
            label(for='location', style='display: block; margin-bottom: 8px;') Location
            input#location(type='text', name='location', value=location, style='width: 100%; padding: 8px;')
        div.form-group
            label(for='ticketType', style='display: block; margin-bottom: 8px;') Ticket Type
            input#ticketType(type='text', name='ticketType', value=ticketType, style='width: 100%; padding: 8px;')
        input(type="submit", style='background-color: #4CAF50; color: white; padding: 10px; border: 10px; border-radius: 4px; cursor: pointer;')


    script.
      document.forms['TicketsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target))
        }).then((resp) => {
          return resp.json();
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error);
        });
      });
