extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row")
      each ticket,index in results
        div(class="col-sm-2")
          p Event Name: #{ticket.eventName}
          p Venue: #{ticket.venue}
          p Price: #{ticket.price}
          p Location: #{ticket.location}
          p Ticket Type: #{ticket.ticketType}
          div(onclick=`buy(${index})`, class="btn btn-primary") Buy
          button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/tickets/update?id=${ticket._id}\")`) Update

  script.
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }
    function dispatch(path) {
      window.location.href=path
    }
 
        

